/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logoImg {
  height: 50px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.navLinksOpen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #f0f0f0;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  z-index: 1000;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s;
}

.adminPanelBtn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.hamburger.open {
  transform: rotate(90deg);
}

.closeButton {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .navLinksOpen {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .closeButton {
    display: block;
  }
}
